<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Tamas Varga"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Nightmarish Region Generator</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<div class="text-center">
    <h1>Nightmarish Region Generator</h1>
</div>

<div class="container">
    <div class="button wrapper">
        <a href="/random_all">
            <button class="btn btn-primary" type="button">Randomize All</button>
        </a>
    </div>
    <form action="/save">
        <h2>Basic traits</h2>
            <div class="row">
                <div class="col-sm-2">
                    <div>
                        <label for="basic terrain">The terrain is...</label>
                    </div>
                    <div class="input-group">
                        <input id="basic terrain" name="basic terrain" required="required"
                               readonly="readonly" th:value="${terrain}"/>
                    </div>
                    <div class="button wrapper">
                        <a href="/random_terrain">
                            <button class="btn btn-info" type="button">Random Terrain</button>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose
                            terrain
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-element" th:each="terr,iterationStatus  : ${terrains}">
                                <a th:text="${terr}" th:href="@{~/terrain/{path}(path=${terr})}">Terrains</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <label for="basic element">An element is...</label>
                    </div>
                    <div class="input-group">
                        <input id="basic element" name="basic element" required="required"
                               readonly="readonly" th:value="${element}"/>
                    </div>
                    <div class="button wrapper">
                        <a href="/random_element">
                            <button class="btn btn-info" type="button">Random Element</button>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose
                            element
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-element" th:each="elem,iterationStatus  : ${elements}">
                                <a th:text="${elem}" th:href="@{~/element/{path}(path=${elem})}">Elements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <label for="wrapper">...Is wrapped this way</label>
                    </div>
                    <div class="input-group">
                        <input id="wrapper" name="wrapper" required="required"
                               readonly="readonly" th:value="${wrapper}"/>
                    </div>
                    <div class="button wrapper">
                        <a href="/random_way">
                            <button class="btn btn-info" type="button">Random Way</button>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose Way
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-element" th:each="wrap,iterationStatus  : ${wrappers}">
                                <a th:text="${wrap}" th:href="@{~/way/{path}(path=${wrap})}">Way</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <label for="flora">The Flora is...</label>
                    </div>
                    <div class="input-group">
                        <input id="flora" name="flora" required="required"
                               readonly="readonly" th:value="${flora}"/>
                    </div>
                    <div class="button wrapper">
                        <a href="/random_flora">
                            <button class="btn btn-info" type="button">Random Flora</button>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose
                            Flora
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-element" th:each="flor,iterationStatus  : ${floraList}">
                                <a th:text="${flor}" th:href="@{~/flora/{path}(path=${flor})}">Flora</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <label for="fauna">The Fauna is...</label>
                    </div>
                    <div class="input-group">
                        <input id="fauna" name="fauna" required="required"
                               readonly="readonly" th:value="${fauna}"/>
                    </div>
                    <div class="button wrapper">
                        <a href="/random_fauna">
                            <button class="btn btn-info" type="button">Random Fauna</button>
                        </a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose
                            Fauna
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-element" th:each="faun,iterationStatus  : ${faunaList}">
                                <a th:text="${faun}" th:href="@{~/fauna/{path}(path=${faun})}">Flora</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <input type="submit" class="submit-button btn btn-success" value="Save"/>
    </form>
</div>
</body>
</html>

